html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: 'Lato';
    font-size: 1.6em;

}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.content {
    text-align: center;
    display: inline-block;
}

.title {
    font-size: 96px;
    line-height: 100%;
    margin-bottom: 30px;
}


div#album {
    display: flex;
    padding: 75px 100px 75px 0;
}

div#album img {
    width: 30%;
    height: 100%;
}

.evenDiv {
    transform: rotatey(43deg);
}

img.evenImg {
    transform: skewy(-3deg);
}